@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP);
* {
    font-size: 16px;
    font-family: "Pacifico", Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(180deg, rgba(191,57,137,1) 0%, rgba(9,107,222,1)) 
}
li {
    list-style: none;
}

.app {
    max-width: 450px;
    height: 100%;
    margin: 0 auto;
    border-radius: 3px;
}

.player {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard {
    overflow: hidden;
    z-index: 1;
    color: white;
    position: fixed;
    width: 450px;
    border-radius: 0 0 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: currentColor;
    box-shadow: 0 2px 4px 0px rgb(78 75 75);
    background-image: linear-gradient(180deg, rgba(191,57,137,1) 0%, rgba(9,107,222,1)) 
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    filter: blur(30px);
    transform: var(--random);
}

.header {
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-info-song {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-song-name {
    font-size: 17px;
    margin-bottom: 5px;
    text-align: center;
}

.header-name-artist {
    font-size: 12px;
    text-align: center;
}

.header-left {
    color: white;
    position: relative;
}

.toggle-autoplay[data-autoplay="false"] {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSI+PGRlZnMgLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTguNSAxNmE3LjUgNy41IDAgMTAwLTE1IDcuNSA3LjUgMCAwMDAgMTV6IiBmaWxsPSIjNzE3MTcxIiAvPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTcgOC41YTguNSA4LjUgMCAxMS0xNyAwIDguNSA4LjUgMCAwMTE3IDB6bS0xIDBhNy41IDcuNSAwIDExLTE1IDAgNy41IDcuNSAwIDAxMTUgMHoiIGZpbGw9IiMwMDAiIGZpbGwtb3BhY2l0eT0iLjE1IiAvPjxwYXRoIGQ9Ik01LjUgMTJoMlY1aC0ydjd6TTkuNSA1djdoMlY1aC0yeiIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=);
    background-repeat: no-repeat;
    position: relative;
    transition: all linear .3s;
}

.toggle-autoplay[data-autoplay="true"] {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNyA4LjVhOC41IDguNSAwIDExLTE3IDAgOC41IDguNSAwIDAxMTcgMHptLTUgMEw2LjUgNXY3TDEyIDguNXptLTEuODYgMEw3LjUgNi44MnYzLjM2bDIuNjQtMS42OHpNOC41IDE2YTcuNSA3LjUgMCAxMDAtMTUgNy41IDcuNSAwIDAwMCAxNXoiIGZpbGw9IiMwMDAiIGZpbGwtb3BhY2l0eT0iLjE1IiAvPjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTYgOC41YTcuNSA3LjUgMCAxMS0xNSAwIDcuNSA3LjUgMCAwMTE1IDB6bS00IDBMNi41IDEyVjVMMTIgOC41eiIgZmlsbD0iI2ZmZiIgLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: all linear .3s;
}

.circular {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cd {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid#f9fb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cd::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 15px solid #999;
}

.cd::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 15px solid #555;
}

.cd-thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.volume-btn:hover>.volume-progress,
[data-volume="up"] .volume-btn>.icon-volume-up,
[data-volume="down"] .volume-btn>.icon-volume-down,
[data-volume="off"] .volume-btn>.icon-volume-off,
[data-volume="off"] .volume-btn>.icon-volume-off {
    display: block;
}

.volume-btn {
    cursor: pointer;
    outline: none;
    border: 0;
    padding: 0 10px 0px 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0%;
    opacity: .8;
    background-color: transparent;
    transition: width linear .2s;
}

.volume-btn:hover {
    width: 150px;
}

.volume-bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.volume-progress {
    width: 100%;
    height: 3px;
    margin-left: 5px;
}

.volume-btn>i {
    display: none;
    color: white;
}

.runtime {
    padding: 15px 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timeTotal {
    margin: 0 5px 0px 10px;
}

.timeupdate,
.timeTotal {
    font-size: 15px;
}

.timeupdate {
    position: absolute;
    font-size: 14px;
    top: -31px;
    width: 50px;
    text-align: center;
    padding: 2px 5px;
    border-radius: 3px;
    color: white;
    left: calc(var(--progress) * 100%);
    transform: translateX(-50%);
}

.progress {
    cursor: pointer;
    width: 100%;
    height: 4px;
    display: flex;
    align-items: center;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgba(94, 94, 94, 0.096);
}

.progress-bar::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0%;
    height: 100%;
    bottom: 0;
    right: calc(100% - var(--preview)*100%);
    background-color: rgb(252, 222, 222);
    display: none;
}

.progress-bar::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0%;
    bottom: 0;
    right: calc(100% - var(--progress)*100%);
    background-color: red;
}

.progress-preview {
    position: absolute;
    font-size: 14px;
    top: -31px;
    left: calc(var(--preview) * 100%);
    padding: 2px 5px;
    border-radius: 3px;
    color: white;
    transform: translateX(-50%);
    background-color: black;
    display: none;
}

.progress-preview::after {
    position: absolute;
    content: "";
    top: 20px;
    left: 13px;
    border: 7px solid transparent;
    border-top-color: black;
}

.progress-indicator {
    aspect-ratio: 1/1;
    --scale: 0;
    position: absolute;
    height: 200%;
    top: -50%;
    border-radius: 50%;
    left: calc(var(--progress)*100%);
    transform: translateX(-50%) scale(var(--scale));
    background-color: red;
    transition: transform linear .2s;
}

.progress:hover .progress-preview,
.progress:hover .progress-bar::before {
    display: block;
}

.isScrubbing .progress-indicator,
.progress:hover .progress-indicator {
    --scale: 1
}

.isScrubbing .progress-bar,
.progress:hover .progress-bar {
    height: 4px
}

.controls {
    padding: 10px 20px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls i {
    color: white;
}

.btn {
    cursor: pointer;
    outline: none;
    border: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: .8;
    background-color: transparent;
}

.btn:hover {
    background-color: rgba(177, 174, 174, 0.281);
}

.btn:focus {
    background-color: rgba(177, 174, 174, 0.381);
}

.isRepeat .repeat-btn>.icon-repeat,
.isRandom .random-btn>.icon-random {
    color: red;
}

.toggle-play {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear .3s;
}

.toggle-play>i {
    font-size: 30px;
}

.toggle-play>.icon-play {
    margin-left: 5px;
}

.toggle-play>.icon-pause,
.isPlaying .toggle-play>.icon-play {
    display: none;
}

.isPlaying .toggle-play>.icon-pause {
    display: block;
}

.playlist {
    margin-top: 0px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1px 5px rgb(173, 173, 173);
    transform: translateY(-100%);
    transition: transform linear .3s;
}

.playlist.isPlaylist {
    transform: translateY(0%);
}

.song {
    cursor: pointer;
    padding: 5px 10px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.song+.song {
    margin-top: 5px;
    border-bottom: 1px solid;
}

.song:hover,
.song.active {
    background-color: rgba(191,57,137,1);
}

.song-thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    overflow: hidden;
}

.song-thumbnail-img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.song-body {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.song-info {
    flex: 1;
}
.song-name {
    font-size: 17px;
    line-height: 1.5;
    color: white;
    text-shadow: 0 1px 2px black;
}
.song-artist {
    font-size: 12px;
    color: bisque;
}

.song-option {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.song-option>.icon-option {
    opacity: .7;
    color:white
}

.song-option:hover {
    color: red;
    background-color: rgba(143, 143, 143, 0.438);
}
